* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  color: #3b82f6;
}

p {
  font-size: 1.25rem;
  color: #94a3b8;
}
