@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: clamp(10px, 1vw, 16px);
  }

  body {
    @apply select-none;
  }

  ::-webkit-scrollbar {
    @apply h-2 w-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-white/10;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-theme;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
  }
}

@layer components {
  .button {
    @apply flex items-center justify-center rounded-3xl border-[0.25rem] border-theme/50 bg-slate-900/50 px-8 py-4 text-2xl font-bold uppercase tracking-widest text-white transition hover:border-theme hover:bg-gradient-to-r hover:from-theme/50 hover:to-indigo-500/50;
  }

  .button.small {
    @apply px-4 py-2 text-base;
  }

  .button.stretch {
    @apply w-full min-w-[12rem];
  }

  .button.disabled {
    @apply cursor-wait border-gray-300 opacity-10 hover:bg-slate-900/50;
  }

  .input {
    @apply w-full rounded-3xl border-[0.25rem] border-theme/50 bg-slate-900/50 px-8 py-4 font-bold text-theme shadow-inner outline-none focus:border-theme;
  }

  .input:read-only {
    @apply cursor-wait;
  }

  .player {
    @apply relative flex h-8 w-8 cursor-pointer items-center justify-center rounded-full bg-rival font-bold text-white;
  }

  .player.self {
    @apply bg-self;
  }

  .playerName {
    @apply absolute right-1/2 top-full hidden max-w-[20ch] translate-y-2 rounded-full bg-inherit px-4 py-1 text-white;
  }

  .playerName::before {
    @apply absolute -top-2 right-2 -z-10 h-4 w-4 rotate-12 bg-inherit;
    content: "";
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  }

  .sidebar {
    display: grid;
    max-width: 20rem;
    grid-template-columns: 0fr;
    transition: grid-template-columns 0.3s;
  }

  .sidebar.expand {
    grid-template-columns: 1fr;
  }

  .result {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s;
  }

  .result.expand {
    grid-template-rows: 1fr;
  }

  .card_container {
    @apply relative aspect-[4/5] h-40 transition-all duration-300;
    transform-style: preserve-3d;
  }

  .card_container > .frontside,
  .card_container > .backside {
    @apply absolute left-0 top-0 flex h-full w-full flex-col items-center justify-center gap-4 rounded-2xl border-4 border-white/10 p-4 text-white backdrop-blur-3xl;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
  }

  .card_container > .backside {
    transform: rotateY(180deg);
  }

  .card_container.self,
  .card_container.rival {
    @apply -ml-8;
  }

  .card_container.self {
    @apply translate-y-8 cursor-grab hover:z-10 hover:-translate-y-12 hover:scale-125;
  }

  .card_container > .frontside,
  .card_container.self > .frontside {
    @apply hover:border-theme;
  }

  .card_container.rival {
    transform: translateY(-2rem);
  }

  .card_container.rival.flipped {
    transform: translateY(-2rem) rotateY(180deg);
  }

  .card_container.rival.flipped.selected {
    z-index: 10;
    transform: translateY(3rem) rotateY(180deg) scale(1.25);
  }

  .card_container.rival.selected {
    z-index: 10;
    transform: translateY(3rem) scale(1.25);
  }

  .card_container.rival.selected > .frontside,
  .card_container.rival.flipped.selected > .backside {
    @apply border-rival;
  }
}
